---
Title: "Historia"
import Layout from '../layouts/Layout.astro';
import '../css/style.css';
---

<Layout title="Historia">
<div class="pt-10">
   <h1 class="fuente text-[130px] text-white">Historia</h1> 
</div>


</Layout>