---
import type {Links} from "../../data/layout/links";

//Relaciono 
const {title, path} = Astro.props as Links;
---

<a href={path}
class="hover:text-slate-300 active:text-slate-600 focus:text-slate-600"
>
    {title}
</a>