---
import { Image } from 'astro:assets';
import logo from '../../img/logo.png';

import Bars3 from 'astro-heroicons/solid/Bars3.astro';

import {linksData, type Links} from "../../data/layout/links";
import Link  from '../../components/layout/Link.astro';
import type { Code } from 'astro:components';

---

<nav class="fixed top-0 left-0 right-0 z-50 py-2">
    <section class="flex mx-[10px] lg:mx-[80px] justify-between">
    <div>
        <Image class='size-10' src={logo} alt="Logo">
    </div>
    <div class="flex justify-center items-center sm:visible invisible gap-6 font-['system-ui'] uppercase text-slate-200 font-medium ">
        {
            linksData.map((link) => (
                  <Link {...link}/>
            ))
        }
    </div>
      <button id="btn-hamburguesa">
        <Bars3 class="size-10 text-slate-200  sm:invisible visible" />
      </button>
        
    
    </section>
</nav>

<script>
   import { isSideMenuOpen } from "../store";

   export function openSideBar(){
    isSideMenuOpen.set(true);
   }
   const btnHamburguesa = document.getElementById("btn-hamburguesa");

   btnHamburguesa.addEventListener("click", openSideBar);
</script>


  