---
import { linksData } from "../../data/layout/links";
import Link from "./Link.astro";

import XMark from 'astro-heroicons/solid/XMark.astro';
---

<div class="bg-black w-screen h-full fixed z-50 top-0 right-0 opacity-30"></div>
<div class="bg-zinc-200 fixed top-0 right-0 h-screen z-50 w-[270px] md:w-[350] lg:w-[450px] p-2.5">
    <button id="cerrar-btn" class="w-100 right-0 flex justify-end">
         <XMark class="text-gray-950 size-10"/> 
    <button/>
  
    <div class="flex flex-col justify-start visible gap-6 font-['system-ui'] uppercase text-gray-950 font-medium">
        {
            linksData.map((link) => (
            <Link {...link}/>
            ))
        }
        
    </div>
</div>


<script>
    import { isSideMenuOpen } from "../store";

   

    const buttonCerrar = document.getElementById("cerrar-btn");
    
    isSideMenuOpen.subscribe(open =>{
        if(open){
            buttonCerrar.style.display = "block"
        }else{
            buttonCerrar.style.display = "none"
        }
    })
    
</script>